.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    = image_tag "/images/press/devops-lifecycle.svg", alt: "DevOps Platform Overview", style: "margin: 40px 0px"

.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 GitLab DevOps platform benefits
    As a single application for the complete DevOps lifecycle, GitLab is:
    %ul
      %li
        %strong Comprehensive:
        Visualize and optimize your entire DevOps lifecycle with platform-wide analytics within the same system where you do your work.
      %li
        %strong Seamless:
        Use a common set of tools across teams and lifecycle stages, without dependencies on third-party plugins or APIs that can disrupt your workflow.
      %li
        %strong Secure:
        Scan for vulnerabilities and compliance violations with each commit. 
      %li
        %strong Transparent and compliant:
        Automatically capture and correlate all actions—from planning to code changes to approvals—for easy traceability during audits or retrospectives.
      %li
        %strong Easy to adopt:
        Learn a single UX, manage a single data store, and run it all on your choice of infrastructure.

%hr.divider
