.category-card-image
  - if articles.first && articles.first.data.image_title
    = image_tag articles.first.data.image_title, alt: articles.first.title
  - else
    = image_tag image, alt: alt

%ul.category-card-post-list
  - articles.each.with_index do |article, index|
    %li
      %a{ href: article.url }
        - if article.data.release_number
          GitLab
          = article.data.release_number
          released
        - else
          = article.title
      - if 0 == index && article.data.description
        %span
          = article.data.description.split[0...11].join(' ')
          - if 11 < article.data.description.split.size
            [...]